<br>
<div class="container">
    <div class="row g-3">
        <div class="col">
            <input type="text" name="quantidade_pessoas" class="form-control" placeholder="Quantidade de pessoas"
                required>
        </div>
        <div class="col">
            <input type="text" name="quantidade_comodos" class="form-control" placeholder="Quantidade de cômodos"
                required> <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-3">
        <div class="col">
            <label class="visually-hidden" for="maquina_lavar_roupa">Preference</label>
            <select class="form-select" name="maquina_lavar_roupa" required>
                <option selected>Máquina de lavar roupa</option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>
        </div>
        <div class="col">
            <label class="visually-hidden" for="secadora_roupas">Preference</label>
            <select class="form-select" name="secadora_roupas" required>
                <option selected>Secadora de roupas</option>
                <option value="0">Não</option>
                <option value="1">Sim</option>
            </select>
        </div>
    </div>
    </div>
    <div class="container"><br>
    <div class="row g-3">
        <div class="col">
            <input type="text" name="quantidade_tv" class="form-control" placeholder="Quantidade de aparelhos de TV"
                required>
        </div>
        <div class="col">
            <input type="text" name="quantidade_computadores" class="form-control" placeholder="Quantidade de computadores"
                required> <br>
        </div>
    </div>
    <div class="col-md-2">
    <label for="tarifa_energetica" class="form-label" placeholder="Tarifa"></label>
    <input type="number" name="tarifa_energetica" class="form-control" required>
  </div>
  <div><br>
   <button type="button" class="btn btn-success">Success</button>
  </div>
</div>
