<br>
<div class="container">
    <div class="row g-3">
        <div class="col">
            <input type="text" name="quantidade_pessoas" class="form-control" placeholder="Quantidade de pessoas"
                [(ngModel)]="residente" required />
        </div>
        <div class="col">
            <input type="text" name="quantidade_comodos" class="form-control" placeholder="Quantidade de cômodos"
                [(ngModel)]="quantidade_comodos" required /> <br>
        </div>
    </div>
</div>

<div class="container">
    <div class="row g-3">
        <div class="col">
            <label class="visually-hidden" for="maquina_lavar_roupa">Preference</label>
            <select class="form-select" name="maquina_lavar_roupa" [(ngModel)]="maquina_lavar_roupa" >
                <option selected>Máquina de lavar roupa</option>
                <option value="false">Não</option>
                <option value="true">Sim</option>
            </select>
        </div>
        <div class="col">
            <label class="visually-hidden" for="secadora_roupas">Preference</label>
            <select class="form-select" name="secadora_roupas"  placeholder="Secadora de roupas" [(ngModel)]="secadora_roupas" >
                <option selected>Secadora de roupas</option>
                <option value="false">Não</option>
                <option value="true">Sim</option>
            </select>
        </div>
    </div>
</div>
<div class="container"><br>
    <div class="row g-3">
        <div class="col">
            <input type="text" name="quantidade_tv" class="form-control" placeholder="Quantidade de aparelhos de TV"
                [(ngModel)]="quantidade_tv" required />
        </div>
        <div class="col">
            <input type="text" name="quantidade_computadores" class="form-control"
                placeholder="Quantidade de computadores" [(ngModel)]="quantidade_computadores" required /> <br>
        </div>
    </div>
    <div class="col-md-2">
        <label for="tarifa_energetica" class="form-label" placeholder="Tarifa"><h5>Tarifa</h5></label>
        <input type="text" name="tarifa_energetica" class="form-control" [(ngModel)]="tarifa_energetica" required />
    </div>
    <div><br>
        <button class="btn btn-success" (click)="validateInputs()">Calcular</button>
    </div>
    <div class="col-12 d-flex justify-content-center">
        <h5 [innerHTML]="resultado" class="mt-4"></h5>
    </div>
</div>